@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffffa;
  --foreground: #000103;
  --primary: #68776d;
  --secondary: #ff751f;
  --tertiary: #80807f;
  --radius: 8px;
  --nav_height: 80px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000103;
    --foreground: #fffffa;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  padding-top: var(--nav_height);
  scroll-padding-top: var(--nav_height);
  overflow-x: hidden;
}

section {
  position: relative;
  background-color: var(--background);
}

p,
ul {
  font-size: 0.95rem;
  margin-bottom: 1rem;
}

ul {
  margin-left: 1.15rem;
}

@media (min-width: 768px) {
  p,
  ul {
    font-size: 1.15rem;
  }
}
