@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --nav_height: 80px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  padding-top: var(--nav_height);
  scroll-padding-top: var(--nav_height);
  overflow-x: hidden;
}

section {
  position: relative;
  background-color: var(--background);
}

p,
ul {
  font-size: 1.15rem;
  margin-bottom: 1rem;
}

ul {
  margin-left: 1.15rem;
}
